.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #121314;
  overflow-x:hidden;
  /* background: #343a40; */
}


footer {
  position: relative;
  /* height: 170px; */
  /* width: 100%; */
  /* bottom: 0px; */
  /* left: 0px; */
  /* right: 0px; */
 
}
